{{> head}}
          {{> menu}}
        <div class="container">
               


<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
     <h3>About</h3>
    <h4>{{texto}}</h4>
</div>

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <img src="../../assets/img/0.jpg" class="img-responsive" alt="Image">
</div>


        </div>
      {{> footer}}
  